<div class="container">
  <div class="filter-container">
    <label for="sort">Sort by:</label>
    <select id="sort" (change)="sortTariffs($event.target.value)">
      <option value="tariffName">Tariff Name</option>
      <option value="downloadSpeed">Download Speed</option>
      <option value="uploadSpeed">Upload Speed</option>
      <option value="price">Price</option>
    </select>
  </div>

  <div class="tariff-list">
    <div class="tariff-card" [ngClass]="{'show-benefits': tariff.benefits && tariff.benefits.length > 0}"
      *ngFor="let tariff of filteredTariffs">
      <div class="tariff-name">
        <h3 class="tariff-title">{{ tariff.tariffName }}</h3>
      </div>
      <div class="tariff-details">
        <div class="speeds">
          <div class="speed-detail">
            <div class="icon download-icon"></div>
            <p>{{ tariff.downloadSpeed }} Mbps</p>
          </div>
          <div class="speed-detail">
            <div class="icon upload-icon"></div>
            <p>{{ tariff.uploadSpeed }} Mbps</p>
          </div>
        </div>
      </div>

      <div class="tariff-benefits">
        <h4>Benefits:</h4>
        <ul>
          <li *ngFor="let benefit of tariff.tarifBenefits">{{ benefit }}</li>
        </ul>
      </div>

      <div class="tariff-action">
        <p class="tariff-price">${{ tariff.price }}</p>
        <button class="choose-tariff-button">Choose Tariff</button>
      </div>
    </div>
  </div>
</div>